<form class="input-group user-auth" action=<%= session_url %> method="post">
  <h1>Sign In</h1>

  <% if flash[:errors] %>
    <p class="errors">
      <% flash[:errors].each do |error| %>
        <%= error %> <br>
      <% end %>
    </p>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>
    <label for="username">
      Username:
      <input class="input" type="text" name=user[username] value="" id="username">
    </label>
  </h3>
  <h3>
    <label for="password">
      Password:
      <input class="input" type="password" name=user[password] value="" id="password">
    </label>
  </h3>
  <input class="button" type="submit" name="name" value="Sign In">
  <br>
  <p class="switch">
    <%= link_to "Need to make an account? Sign up", new_user_url %>
  </p>
</form>
