// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: "Architects Daughter", cursive;
}

.list-item{
  margin-left: 40px;
}

.name {
  width: 300px;
  display: inline-block;
}

.button_to {
  display: inline;
}

.add {
  font-size: 28px;
}
